<div class="background">
  <div *ngIf="loadingIndicator"
  >
  <loader-fancy></loader-fancy>
  </div>
  <div class="table">
    <ngx-datatable
      *ngIf="!loadingIndicator"
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="40"
      [summaryRow]="true"
      [summaryPosition]="'bottom'"
      [footerHeight]="40"
      [limit]="10"
      [rowHeight]="'auto'"
    >
      >
    </ngx-datatable>
  </div>
  <router-outlet></router-outlet>
</div>
