<div>
  <h3>
    Fluid Row Heights
    <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/demo/basic/basic-auto.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small>
  </h3>
  <div class="body">
    <ngx-datatable
      class="bootstrap"
      [loadingIndicator]="loadingIndicator"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="40"
      [summaryRow]="true"
      [summaryPosition]="'bottom'"
      [footerHeight]="40"
      [limit]="10"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
    >
      >
    </ngx-datatable>
  </div>
</div>
<router-outlet></router-outlet>
