<div class="background">
  <div *ngIf="loadingIndicator">
    <loader-fancy></loader-fancy>
  </div>
  <div class="table">
    <ngx-datatable
      *ngIf="!loadingIndicator"
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="40"
      [summaryRow]="true"
      [summaryPosition]="'bottom'"
      [footerHeight]="40"
      [limit]="10"
      [rowHeight]="'auto'"
    >
      <ngx-datatable-column name="First name" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column name="Surname" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column name="Gender" prop="gender">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i *ngIf="value === 'female'" class="fa fa-female"></i>
            <i *ngIf="value === 'male'" class="fa fa-male"></i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Employed" [sortable]="true" prop="working">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template>
          <i *ngIf="value === false" class="fa fa-times"></i>
          <i *ngIf="value === true" class="fa fa-check"></i>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <router-outlet></router-outlet>
</div>
